body {
	font: 16px normal Arial,Helvetica,Verdana,sans-serif;
	line-height: 1.5em;
}

img	{
	vertical-align: middle;
}

tr {
	vertical-align: top;
}

.kelen {
	color: #006600; 
	font-weight: bold;
}

#allGlyphs {
	display: none;
}

#KelenScriptErrors {
	color: red;
}

table.cia td {
	padding: 1em;
}

svg.cia {
	display: inline-block;
	position: relative;
  	vertical-align: top;
}